
extends ../layout/common

block content
	.container
		h1 Create User
		if errs
			each err in errs
				.alert.alert-danger= err
		form(action="create", method="post", enctype='multipart/form-data')
			.form-group.col-md-6
				label Name
				input.form-control(type="text", name="name", value =values ? values.name : "")
			.form-group.col-md-6
				label Age
				input.form-control(type="text", name="age", value=values ? values.age : "")
			.form-group.col-md-6
				label Avatar
				input.form-control-file(type="file", name="avatar")
			button.btn.btn-primary.ml-3 Create